<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Nouveau evennement</h4>
                <form (ngSubmit)="createPost()" #formClient="ngForm" action="">
                  
                  
  
                          
                  <div class="mb-3">
                    <label for="formFile" class="form-label">Default file input example</label>
                    <input class="form-control" type="file" name="file" id="file" (change)="uploadImage($event)">
                  </div>
          
  
  
                        <button class="btn btn-primary btn-block" type="submit" [disabled]="!formClient.valid">
                          submit
                      </button>
                </form>
              </div>
            </div>
        </div>
      </div>