.bg-clubnav {
  background-color: #08084c;
}
li {
  font-size: 1.25rem;
  font-weight: bold;
}
.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
}
@media screen and (max-width: 480px) {
  .bg-clubnav {
    width: 102%;
  }
}
