
        
        
    
    <html>
    
        <!-- Page Content -->
        <div class="container">
    
          <div class="row">
    
            <!-- Blog Entries Column -->
            <div class="col-lg-8">
    
              <!-- Title -->
              <h1 class="mt-4">{{post.title}}</h1>
    
              <!-- Author -->
              <p class="lead">
                by
                <span style="color: rgb(33, 126, 240);"><b><i>{{post.author}}</i></b></span>
              </p>
    
              <hr>
    
              <!-- Date/Time -->
              <p>{{date }}</p>
    
              <hr>
    
              <!-- Preview Image -->
              <img class="card-img-top" src="{{post.image}}" alt="Card image cap">
    
              <hr>
    
              <!-- Post Content -->
             
              <p  [innerHTML]="post.content"></p>
    
             
              <hr>
    
            
    
    
            </div>
    
            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">
    
    
         
              <!-- Side Widget -->
              <div class="card my-4">
                <h5 class="card-header">{{post.author}}</h5>
                <div class="card-body">
                    {{post.author}} est un(e) etudiant(e) de GI a ensaO ,membre de club GI.             
                </div>
              </div>
     <!-- Side Widget -->
              <div class="card my-4">
                <h5 class="card-header">Image</h5>
                <div class="card-body">
                  <img class="card-img-top" src="{{post.image}}" alt="Card image cap">
                </div>
              </div>
              <!-- tweeter -->
             
            </div>
              
          </div>
          <!-- /.row -->
    
        </div>
        <!-- /.container -->
    
        <!--footer-->
    <footer class="kilimanjaro_area">
            <!-- Top Footer Area Start -->
            <div class="foo_top_header_one section_padding_100_70">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="kilimanjaro_part">
                                <h5>A propos de nous</h5>
                                <p>It includes rich features & contents. It's designed & developed based on One Page/ Multi-page Layout,blog themes,world press themes and blogspot. You can use any layout from any demo anywhere.</p>
                            </div>
                          
                        </div>
                        <div class=" col-md-6 col-lg-3">

                        <div class="kilimanjaro_part m-top-15">
                            <h5>Media</h5>
                            <ul class="kilimanjaro_social_links">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a></li>
                                <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i> YouTube</a></li>
                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin</a></li>
                                <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i> Github</a></li>

                            </ul>
                        </div>
                        </div>
                      
                        <div class=" col-md-6 col-lg-3">
                            <div class="kilimanjaro_part">
                                <h5>Contact</h5>
                              
                                <div class="kilimanjaro_single_contact_info">
                                    <h5>Email:</h5>
                                    <p>clubgi@gmail.com</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
     
        </footer>	
   
    
    </html>
    
    