
    
    <div class="container blogs">
    
        <div class="card" style="width: 18rem;"  *ngFor="let event of events | async">
            <img src="{{event.image}}  " class="card-img-top" alt="...">  
            
        </div>
    

    
    
    </div>
    <div class="row "  style="width: 100%;" >
        <div class="col-md-11">
            
            <div *ngIf="auth.afAuth.authState | async as user">
        <button routerLink="/addEvent" type="button" class="btn btn-info btn-circle btn-xl pull-right"><i class="fa fa-plus" aria-hidden="true"></i></button>

            </div>
          
        </div>
      </div>
      